---
import Twitter from '../components/SVGs/Twitter.astro';
import Discord from '../components/SVGs/Discord.astro';
import LinkedIn from '../components/SVGs/LinkedIn.astro';
import Mail from '../components/SVGs/Mail.astro';
import Github from '../components/SVGs/Github.astro';
import Layout from '../components/Layout.astro';
import ShareIcon from '../components/SVGs/ShareIcon.astro';
import { SOCIALS } from '../constants';
import PROJECTS from '../data/projects';

import '../styles/global.css';
---

<Layout title="John Riordan">
	<h1 class="page-title">
		<span>John</span>
		<span><span class="underline">Rio</span>rdan</span>
	</h1>
	<p class="byline">
		<span>Senior Product Designer/Engineer at <a href="https://blitz.gg">TSM/Blitz</a></span>
	</p>
	<div class="sections">
		<section>
			<h2 class="section-title">About</h2>
			<p>
				Gamer nerd 🤓 with a (potentially?) unhealthly obsession with educating and solving problems
				for other gamers. Most call me Rio.
			</p>
		</section>
		<section>
			<h2 class="section-title">Projects</h2>
			<p>
				A few of the personal/passion projects (among many) that I’ve desgined and built over the
				last few years. 🚀
			</p>
			<ul class="list">
				{PROJECTS.map((project) => (
					<li class="list-item">
						<h4 class="title"><a href={project.url} target="__blank">{project.title} <ShareIcon /></a></h4>
						<p class="description" set:html={project.description} />
					</li>
				))}
			</ul>
		</section>
		<section>
			<h2 class="section-title">Misc.</h2>
			<p>
				In my free time I like to explore my passion with
				<a href="/misc"><strong>miscellaneous side projects.</strong></a>
				These projects are important to me in a lot of ways but mainly because they're an opportunity
				for me to learn. Often times these side projects lead to much bigger things and I owe a *lot*
				of my career growth to this kind of exploration.
			</p>
		</section>
		<section>
			<h2 class="section-title">Music 2023</h2>
			<strong><a href="/music">Follow along 😊🎶🎵🎼</a></strong>
			<p>
				One of my favorite feelings is driving home from work, turning on my Discover Weekly, and
				stumbling on to an instant hit that defines my mood at that moment. I have this theory that
				you can instnatly tell how good a week is going to be based on the number of those in that
				week's playlist.
			</p>
			<p>
				This year I've decided to take a stab at <a href="/music">documenting some of these gems</a>
				that strike me week by week. Who knows maybe I'll give up on it at some point but having them
				in preverbial stone will be a nice way to look back and find them again. Who knows maybe I'll
				do one for movies this year as well (much more attainable).
			</p>
			<p>
				<strong><a href="/music">My 2023 music discovery</a></strong>
			</p>
		</section>
		<section>
			<h2 class="section-title">Contact</h2>
			<p>I'm "incredibly online" so there are a number of ways to reach me. Pick your poison. 🧪</p>
			<ul class="contact-list">
				<li class="list-item-title">
					<Twitter />
					<a href={SOCIALS.twitter}>@johnriordan</a>
				</li>
				<li class="list-item-title">
					<Discord />Rio#2678
				</li>
				<li class="list-item-title">
					<LinkedIn />
					<a href={SOCIALS.linkedin}>LinkedIn</a>
				</li>
				<li class="list-item-title">
					<Mail />
					<a href={SOCIALS.emailWithSubject}>iam.john.riordan@gmail.com</a>
				</li>
				<li class="list-item-title">
					<Github />
					<a href={SOCIALS.github}>john-riordan</a>
				</li>
			</ul>
		</section>
	</div>
</Layout>

<style lang="scss">
	.contact-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		li {
			display: flex;
			align-items: center;
			gap: 0.75rem;

			:global(svg) {
				width: 1rem;
				height: auto;
				fill: var(--c7);
			}
		}
	}
</style>
