---
import ShareIcon from './SVGs/ShareIcon.astro';
import FromNow from './FromNow.svelte';

const { items } = Astro.props;
---
<ul class="list">
  {items.map(item => (
    <li class="list-item">
      {item.url ? (
        <h4 class="title"><a href={item.url} target={item.external && "_blank"}>{item.title} <ShareIcon /></a></h4>
      ) : (
        <h4 class="title">{item.title}</h4>
      )}
      <div class="content">
        {item.postedDate && (
          <span class="description">
            {item.postedPrefix || "Posted"} <FromNow date={item.postedDate} client:visible />
          </span>
        )}
        {item.beforeHTML && (
          <div class="misc before" set:html={item.beforeHTML} />
        )}
        {item.description && (
          <p class="description" set:html={item.description}></p>
        )}
        {item.afterHTML && (
          <div class="misc after" set:html={item.afterHTML} />
        )}
      </div>
    </li>
  ))}
</ul>

<style lang="scss">
  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
  }

  .list-item {
		--padd: 1.5rem;

		@media screen and (max-width: 768px) {
			--padd: 1rem;
		}

    > * {
      padding-left: var(--padd);
    }
	}
	
	.title {
    position: relative;
		font-size: 1.25rem;
    
    &::before {
      content: '';
      position: absolute;
      height: 0.25rem;
      width: 0.25rem;
      background: var(--accent);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

		@media screen and (max-width: 768px) {
			font-size: 1.25rem;
		}

		a {
			display: flex;
			align-items: center;
			gap: 0.75ch;
			text-decoration: none;
		}

		:global(svg) {
      flex-shrink: 0;
			fill: var(--accent);
			font-size: 1rem;
			transform: translateY(-0.125rem);
		}
	}

  .content {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.description {
		color: var(--c4);
	}
</style>