---
import ShareIcon from './SVGs/ShareIcon.astro';
import FromNow from './FromNow.svelte';

const { url, external, title, watchedDate, trailer, description } = Astro.props;
const trailerEmbed = trailer && `https://www.youtube.com/embed/${trailer}`
---

<li class="list-item">
  {url ? (
    <h4 class="title"><a href={url} target={external && "_blank"}>{title} <ShareIcon /></a></h4>
  ) : (
    <h4 class="title">{title}</h4>
  )}
  <div class="content">
    <span class="description">
      Watched <FromNow date={watchedDate} client:visible />
    </span>
    {trailerEmbed && (
      <div>
        <iframe
          src={trailerEmbed}
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
    )}
    {description && (
      <p class="description" set:html={description}></p>
    )}
  </div>
</li>

<style lang="scss">
</style>